@use '../../common/common' as *;

.form-group {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #a94442;
}

label {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

span.description {
    color: darkgrey;
    font-size: 80%;
    line-height: initial;
    width: 100%;
    white-space: pre-line;  // renders newline as <br />
}

.form-check {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;

    .form-check-input {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 0;
        float: none;
    }

    .form-check-label {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1;

        .description {
            width: 100%;
            margin-left: 0;
            padding-left: 30px;
        }
    }
}

input[type="text"] {
    width: 100%;
}
