<!--suppress HtmlUnknownAttribute -->
<ng-template #optionsList let-header="header" let-options="options" let-id="id">
    <div class="card">
        <h3 class="card-header" id="heading-{{id}}">
            <button class="btn"
                    type="button"
                    data-bs-toggle="collapse"
                    attr.data-bs-target="#collapse-{{id}}">
                {{header}}
            </button>
        </h3>
        <div id="collapse-{{id}}" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                <div *ngFor="let option of options">
                    <app-option
                        [type]="option.type"
                        [label]="option.label"
                        [description]="option.description"
                        [value]="(config | async)?.get(option.valuePath[0]).get(option.valuePath[1])"
                        (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
                    </app-option>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<div id="settings">
    <div id="accordion">
        <div id="left">
            <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
            <ng-container
                *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_SERVER">
            </ng-container>

            <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
            <ng-container
                *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_AUTOQUEUE">
            </ng-container>

            <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
            <ng-container
                *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_EXTRACT">
            </ng-container>

            <!--suppress HtmlUnknownAttribute -->
            <div class="card">
                <h3 class="card-header" id="heading-arr">
                    <button class="btn"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-arr">
                        *arr Integration
                    </button>
                </h3>
                <div id="collapse-arr" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div>
                            <app-option
                                [type]="OptionType.Checkbox"
                                [label]="'Enable Sonarr Integration'"
                                [value]="(config | async)?.get('sonarr')?.get('enabled')"
                                (changeEvent)="onSetConfig('sonarr', 'enabled', $event)">
                            </app-option>
                        </div>
                        <fieldset [attr.disabled]="!(config | async)?.get('sonarr')?.get('enabled') ? '' : null">
                            <div>
                                <app-option
                                    [type]="OptionType.Text"
                                    [label]="'Sonarr URL'"
                                    [description]="'e.g. http://localhost:8989'"
                                    [value]="(config | async)?.get('sonarr')?.get('sonarr_url')"
                                    (changeEvent)="onSetConfig('sonarr', 'sonarr_url', $event)">
                                </app-option>
                            </div>
                            <div>
                                <app-option
                                    [type]="OptionType.Password"
                                    [label]="'Sonarr API Key'"
                                    [description]="'Found in Sonarr under Settings \u2192 General \u2192 API Key'"
                                    [value]="(config | async)?.get('sonarr')?.get('sonarr_api_key')"
                                    (changeEvent)="onSetConfig('sonarr', 'sonarr_api_key', $event)">
                                </app-option>
                            </div>
                            <div class="test-connection">
                                <button class="btn btn-secondary" type="button"
                                        [disabled]="testConnectionLoading"
                                        (click)="onTestSonarrConnection()">
                                    <span *ngIf="!testConnectionLoading">Test Connection</span>
                                    <span *ngIf="testConnectionLoading">Testing...</span>
                                </button>
                                <div *ngIf="testConnectionResult"
                                     class="test-result"
                                     [class.text-success]="testConnectionResult.success"
                                     [class.text-danger]="!testConnectionResult.success">
                                    {{testConnectionResult.message}}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

        </div>
        <div id="right">
            <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
            <ng-container
                *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_CONNECTIONS">
            </ng-container>

            <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
            <ng-container
                *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_DISCOVERY">
            </ng-container>

            <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
            <ng-container
                *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_OTHER">
            </ng-container>
        </div>
    </div>

    <div id="commands">
        <button class="btn btn-primary" type="button"
                [disabled]="!commandsEnabled"
                (click)="onCommandRestart()">
            <img src="assets/icons/refresh.svg" alt="" />
            <span class="text">Restart</span>
        </button>
    </div>
</div>
