#!/usr/bin/make -f

export DESTROOT=$(CURDIR)/debian/seedsync

%:
	dh $@ --with=systemd

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(DESTROOT)/usr/lib
	cp -rf seedsync $(DESTROOT)/usr/lib/

override_dh_shlibdeps:
	# Skip dh_shlibdeps - PyInstaller bundles all dependencies into
	# self-contained executables, so system library checks don't apply
