#!/usr/bin/make -f

export DESTROOT=$(CURDIR)/debian/seedsync

%:
	dh $@

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(DESTROOT)/usr/lib
	cp -rf seedsync $(DESTROOT)/usr/lib/

override_dh_shlibdeps:
	# PyInstaller bundles are self-contained with all dependencies included.
	# Skip strict shlibdeps checking which fails on bundled libraries.
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l$(CURDIR)/seedsync
