@use '../../common/common' as *;

#logs {
    padding: 5px 15px;
    font-family: monospace;
    font-size: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .status-message {
        padding: 20px;
        text-align: center;
        color: $secondary;
        font-size: 14px;
    }

    .log-marker {
        width: 100%;
        height: 2px;
    }

    .btn-scroll {
        position: sticky;
        display: none;

        &.visible {
            display: block;
        }
    }

    #btn-scroll-top {
        top: 0;
    }
    #btn-scroll-bottom {
        bottom: 0;
    }

    p.record {
        margin: 0;

        /* break up long text */
        overflow-wrap: normal;
        hyphens: auto;
        word-break: break-all;

        &.debug {
            color: darkgray;
        }

        &.info {
            color: black;
        }

        &.warning {
            color: $warning-text-emphasis;
            background-color: $warning-bg-subtle;
            border-color: $warning-border-subtle;
        }

        &.error, &.critical {
            color: $danger-text-emphasis;
            background-color: $danger-bg-subtle;
            border-color: $danger-border-subtle;
        }

        span.traceback {
            display: block;
            white-space: pre-line;
            margin-left: 30px;

            /* break up long text */
            overflow-wrap: normal;
            hyphens: auto;
            word-break: break-all;
        }
    }

    .connected {
        height: 12px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $gray-300;
        margin-bottom: 15px;

        span {
            background-color: $gray-100;
            font-size: 10px;
            padding: 5px;
        }
    }
}

/* Medium and large screens */
@media only screen and (min-width: $medium-min-width) {
    #logs {
        font-size: 95%;
    }
}
