@use '../../common/common' as *;

#autoqueue {
    padding: 15px;

    #description {
        font-size: 100%;
    }

    #controls {
        &.controls-disabled {
            opacity: .65;
        }

        .pattern,
        #add-pattern {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            margin: 10px;

            .btn {
                flex-grow: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 8px;
                margin-right: 12px;
                height: 40px;
                width: 40px;

                span {
                    font-size: 220%;
                    font-weight: 900;
                }
            }
        }

        .pattern {
            .text {
                font-size: 100%;
                font-family: monospace;
                white-space: pre-wrap;

                /* break up long text */
                overflow-wrap: normal;
                hyphens: auto;
                word-break: break-all;
            }
        }

        #add-pattern {
            label {
                margin-bottom: 0;
            }
        }
    }
}
