@use '../../common/common' as *;

#sidebar {
    .button {
        background-color: inherit;
        color: inherit;
        text-decoration: none;
        font-weight: bolder;
        display: block;
        width: 100%;
        padding: 8px 16px;
        text-align: left;
        border: none;
        outline: none;
        white-space: normal;
        float: none;
        cursor: default;
        user-select: none;

        &:active {
            background-color: var(--app-selection-border);
        }

        &.selected {
            background-color: var(--app-selection-bg);
            color: white;
            border-color: var(--app-accent-teal-border);

            img {
                filter: invert(1.0);
            }
        }

        &[disabled] {
            opacity: .65;
            background-color: inherit;
        }

        img {
            width: 18px;
            height: 18px;
            margin-right: 4px;
            margin-bottom: 2px;
        }
    }

    hr {
        margin-top: 3px;
        margin-bottom: 3px;
        border: 1px solid var(--bs-border-color);
    }
}
