<div class="file" [class.selected]="file.isSelected" [class.bulk-selected]="isSelected()" #fileElement>
    <div class="content">
        <div class="checkbox" appClickStopPropagation>
            <input type="checkbox"
                   [checked]="isSelected()"
                   (click)="onCheckboxClick($event)"
                   aria-label="Select file" />
        </div>
        <div class="status">
            <img src="assets/icons/default-remote.svg" id="default-remote"
                 *ngIf="file.status === ViewFile.Status.DEFAULT && file.remoteSize > 0" />
            <img src="assets/icons/queued.svg" id="queued"
                 *ngIf="file.status === ViewFile.Status.QUEUED" />
            <img src="assets/icons/downloading.svg" id="downloading"
                 *ngIf="file.status === ViewFile.Status.DOWNLOADING" />
            <img src="assets/icons/downloaded.svg" id="downloaded"
                 *ngIf="file.status === ViewFile.Status.DOWNLOADED" />
            <img src="assets/icons/stopped.svg" id="stopped"
                 *ngIf="file.status === ViewFile.Status.STOPPED" />
            <img src="assets/icons/deleted.svg" id="deleted"
                 *ngIf="file.status === ViewFile.Status.DELETED" />
            <img src="assets/icons/extracting.svg" id="extracting"
                 *ngIf="file.status === ViewFile.Status.EXTRACTING" />
            <img src="assets/icons/extracted.svg" id="extracted"
                 *ngIf="file.status === ViewFile.Status.EXTRACTED" />
            <!-- don't show text for default status -->
            <span *ngIf="file.status != ViewFile.Status.DEFAULT"
                  class="text">{{file.status | capitalize}}</span>
        </div>
        <div class="name">
            <img src="assets/icons/file-light.svg" *ngIf="!file.isDir && !file.isArchive" />
            <img src="assets/icons/file-archive-light.svg" *ngIf="!file.isDir && file.isArchive" />
            <img src="assets/icons/directory-light.svg" *ngIf="file.isDir && !file.isArchive" />
            <img src="assets/icons/directory-archive-light.svg" *ngIf="file.isDir && file.isArchive" />
            <div class="text">
                <div class="title">
                    {{file.name}}
                </div>
                <div class="details" *ngIf="options?.showDetails">
                    <div class="details-text">
                        Remote File<br />
                        <span class="tab"></span>Created:
                            {{(file.remoteCreatedTimestamp | date: 'EEE, MMM d yyyy, h:mm:ss a') ||
                               "Not Available"}}<br />
                        <span class="tab"></span>Modified:
                            {{(file.remoteModifiedTimestamp | date: 'EEE, MMM d yyyy, h:mm:ss a') ||
                               "Not Available"}}<br />
                        Local File <br />
                        <span class="tab"></span>Created:
                            {{(file.localCreatedTimestamp | date: 'EEE, MMM d yyyy, h:mm:ss a') ||
                               "Not Available"}}<br />
                        <span class="tab"></span>Modified:
                            {{(file.localModifiedTimestamp | date: 'EEE, MMM d yyyy, h:mm:ss a') ||
                               "Not Available"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="speed">
            <span *ngIf="file.downloadingSpeed">{{file.downloadingSpeed | fileSize:3}}/s</span>
            <!-- for mobile layout -->
            <div class="speed-eta">
                <span *ngIf="file.status === ViewFile.Status.DOWNLOADING">eta: {{file.eta | eta}}</span>
            </div>
        </div>
        <!-- for desktop layout -->
        <div class="eta">
            <span *ngIf="file.status === ViewFile.Status.DOWNLOADING">{{file.eta | eta}}</span>
        </div>
        <div class="size">
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     [class.progress-bar-animated]="
                        file.status === ViewFile.Status.DOWNLOADING ||
                        file.status === ViewFile.Status.EXTRACTING
                     "
                     [class.progress-bar-striped]="
                        file.status === ViewFile.Status.DOWNLOADING ||
                        file.status === ViewFile.Status.EXTRACTING
                     "
                     [attr.aria-valuenow]="file.percentDownloaded" aria-valuemin="0" aria-valuemax="100"
                     [style.width]="
                        min(file.percentDownloaded,100) + '%'
                     ">
                    {{file.percentDownloaded}}%
                </div>
            </div>
            <div class="size_info">
                {{file.localSize | fileSize:3}} of {{file.remoteSize | fileSize:3}}
            </div>
        </div>
    </div>

    <!-- actions div, hidden for virtual scroll but migrated to Bootstrap for consistency -->
    <div class="actions">
        <button class="btn btn-primary action-button"
                [disabled]="!isQueueable()"
                (click)="onQueue(file)"
                [class.loading]="activeAction === FileAction.QUEUE">
            <span *ngIf="activeAction === FileAction.QUEUE"
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"></span>
            <img *ngIf="activeAction !== FileAction.QUEUE"
                 src="assets/icons/queue.svg" alt="" />
            <span class="text">Queue</span>
        </button>
        <button class="btn btn-danger action-button"
                [disabled]="!isStoppable()"
                (click)="onStop(file)"
                [class.loading]="activeAction === FileAction.STOP">
            <span *ngIf="activeAction === FileAction.STOP"
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"></span>
            <img *ngIf="activeAction !== FileAction.STOP"
                 src="assets/icons/stop.svg" alt="" />
            <span class="text">Stop</span>
        </button>
        <button class="btn btn-secondary action-button"
                [disabled]="!isExtractable()"
                (click)="onExtract(file)"
                [class.loading]="activeAction === FileAction.EXTRACT">
            <span *ngIf="activeAction === FileAction.EXTRACT"
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"></span>
            <img *ngIf="activeAction !== FileAction.EXTRACT"
                 src="assets/icons/extract.svg" alt="" />
            <span class="text">Extract</span>
        </button>
        <button class="btn btn-danger action-button"
                [disabled]="!isLocallyDeletable()"
                (click)="onDeleteLocal(file)"
                [class.loading]="activeAction === FileAction.DELETE_LOCAL">
            <span *ngIf="activeAction === FileAction.DELETE_LOCAL"
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"></span>
            <img *ngIf="activeAction !== FileAction.DELETE_LOCAL"
                 src="assets/icons/delete-local.svg" alt="" />
            <span class="text">Delete Local</span>
        </button>
        <button class="btn btn-danger action-button"
                [disabled]="!isRemotelyDeletable()"
                (click)="onDeleteRemote(file)"
                [class.loading]="activeAction === FileAction.DELETE_REMOTE">
            <span *ngIf="activeAction === FileAction.DELETE_REMOTE"
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"></span>
            <img *ngIf="activeAction !== FileAction.DELETE_REMOTE"
                 src="assets/icons/delete-remote.svg" alt="" />
            <span class="text">Delete Remote</span>
        </button>
    </div>
</div>
