<ng-container *ngIf="{files: files | async, state: headerCheckboxState$ | async, selectedFiles: selectedFiles$ | async, selectAllMatchingFilter: selectAllMatchingFilter$ | async} as vm">
<app-selection-banner
    [visibleFiles]="vm.files!"
    [totalMatchingCount]="vm.files!.size"
    [selectedFiles]="vm.selectedFiles!"
    [selectAllMatchingFilterActive]="vm.selectAllMatchingFilter!"
    (clearSelection)="onClearSelection()"
    (selectAllMatchingFilter)="onSelectAllMatchingFilter(vm.files!)">
</app-selection-banner>
<div id="file-list">
    <div id="header">
        <div class="checkbox">
            <input type="checkbox"
                   [checked]="vm.state === 'all'"
                   [indeterminate]="vm.state === 'some'"
                   (click)="onHeaderCheckboxClick(vm.files!)"
                   aria-label="Select all files" />
        </div>
        <div class="name">Filename</div>
        <div class="status">Status</div>
        <div class="speed">Speed</div>
        <div class="eta">ETA</div>
        <div class="size">Size</div>
    </div>
    <div *ngFor="let file of vm.files; trackBy: identify">
        <app-file
            [file]="file"
            [options]="options"
            [bulkSelected]="isBulkSelected(file)"
            (click)="onSelect(file)"
            (checkboxToggle)="onCheckboxToggle($event)"
            (queueEvent)="onQueue($event)"
            (stopEvent)="onStop($event)"
            (extractEvent)="onExtract($event)"
            (deleteLocalEvent)="onDeleteLocal($event)"
            (deleteRemoteEvent)="onDeleteRemote($event)">
        </app-file>
    </div>
</div>
</ng-container>
