@use '../../common/common' as *;

/* Ensure the host component takes available space for virtual scroll */
:host {
    display: block;
    min-height: 500px;
}

/* Virtual scroll viewport */
.file-viewport {
    /* Fill available height - header is ~37px, selection banner ~50px, bulk actions ~50px */
    height: calc(100vh - 200px);
    width: 100%;
    /* Minimum height ensures viewport works even in small/headless browser windows */
    min-height: 500px;
}

#file-list #header {
    display: none;
}

/* Striped rows and separators are now handled in file.component.scss */
/* using .even-row class for virtual scrolling compatibility */


/* Medium and large screens */
@media only screen and (min-width: $medium-min-width) {
    #file-list #header {
        display: flex;
    }

    /* width */
    /* NOTE: make sure this is in-sync with ".file .content" */
    #header .checkbox   {width: 40px; min-width: 40px;}
    #header .status     {width: 100px; min-width: 100px;}
    #header .name       {flex-grow: 1;}
    #header .speed      {width: 100px; min-width: 100px;}
    #header .eta        {width: 100px; min-width: 100px;}
    #header .size       {width: 30%; min-width: 30%;}

    /* header and content elements */
    #header > div, .content > div {
        padding: 8px 8px;
        text-align: center;
        vertical-align: top;
    }
    #header .name, .content .name {text-align: left;}

    /* header checkbox alignment */
    #header .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }

    /* header color */
    #header div {
        font-weight: bold;
        color: #fff;
        background-color: #000;
    }
}
