@use '../../common/common' as *;

#file-options {
    position: static;
    z-index: $zindex-file-options;
    background-color: $header-color;
    padding: 0 8px 8px 8px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    // Controls whether the div is sticky
    // This class is enabled programmatically
    &.sticky {
        position: sticky;
        // note: top is set programmatically
    }

    #filter-search {
        flex-grow: 1;
        flex-basis: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        img {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 7px;
            top: 7px;
            z-index: $zindex-file-search;
            filter: invert(0.8666);
        }

        input {
            border-radius: 5px;
            padding: 3px 15px 3px 30px;
            width: 100%;
        }

        .input-group{
            flex-grow: 1;
            display: inline;
        }
    }

    // Dropdown button and menu styling
    #filter-status,
    #sort-status {
        button {
            height: 34px;
            cursor: default;
            user-select: none;

            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;

            .title {
                white-space: nowrap;
            }

            .selection {
                margin-left: 5px;

                .sel-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: nowrap;

                    .icon {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .text {
                        margin-left: 5px;
                        display: none;
                    }
                }
            }
        }

        .dropdown-menu {
            padding: 0;
            cursor: default;
            user-select: none;

            .dropdown-item {
                height: 32px;

                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;

                .icon {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .text {
                    margin-left: 5px;
                }
            }
        }

        // Icon image styling (applies to both button and menu)
        .icon img {
            width: 15px;
            height: 15px;
            filter: invert(1.0);
            margin-top: -2px;
        }
    }

    #filter-status {
        .selection {
            .sel-item {
                &#sel-item-all {
                    .icon {
                        display: none;
                    }
                    .text {
                        display: inherit;
                        margin-left: 0;
                    }
                }
            }
        }

        .icon {
            img {
                &.downloaded,
                &.downloading {
                    width: 20px;
                }
                &.stopped {
                    width: 13px;
                }
            }
        }
    }

    // Toggle button styling (#toggle-details and #pin-filter)
    #toggle-details {
        height: 34px;
        cursor: default;
        user-select: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;

        .title {
            white-space: nowrap;
        }

        .selection {
            margin-left: 5px;

            .sel-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;

                .icon {
                    display: none;
                }
                .text {
                    margin-left: 0;
                }
            }
        }
    }

    #small-buttons {
        flex-grow: 1;
        padding-top: 5px;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        #pin-filter {
            width: 20px;
            height: 20px;
            padding: 0;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    // Margins for all the buttons
    #filter-status,
    #sort-status,
    #toggle-details {
        margin-top: 10px;
    }

    // Margins for the non-first buttons
    #sort-status,
    #toggle-details {
        margin-left: 5px;
    }
}


/* Medium and large screens */
@media only screen and (min-width: $medium-min-width) {
    #file-options {
        #filter-status,
        #sort-status {
            button .selection .sel-item .text {
                // Show the text labels in selection
                display: inherit;
            }
        }
    }

    // Margins for the non-first buttons
    #sort-status,
    #toggle-details {
        margin-left: 10px;
    }
}

// Large screens
@media only screen and (min-width: $large-min-width) {
    // Bit of extra padding at top when title disappears
    #file-options {
        padding-top: 8px;
    }
}
